<mat-card class="user-card">
  <mat-card-header>
    <mat-card-title>
      <ng-content></ng-content>
      用戶ID: {{ userInfo.userId }}
    </mat-card-title>
    <mat-card-subtitle>用戶名稱: {{ userInfo.userName }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>帳號: {{ userInfo.userAccount }}</p>
    <p>性別: {{ userInfo.userGender }}</p>
    <p>創建時間: {{ userInfo.createTime }}</p>
  </mat-card-content>
  <button mat-raised-button color="warn" (click)="deleteUser()">刪除用戶</button>
</mat-card>
